.main-bg-const{

  width: 100%;
  /* background-color: rgb(87, 87, 209); */
}

.bg-top-backside-color{

  /* width: 100%; */
  /* background-color: rgb(159, 143, 173); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box{

   width: 260px;
   height: 300px;
   /* box-shadow: -3px 7px 5px 0px rgba(0,0,0,0.75); */   
   margin-top: 20px;
   background-color: white;
   /* border: 1px solid black; */
   border-radius: 5px;
   position: relative;
   top: 100px;
   box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.48);

}

.box img{

  padding: 10px;
}

.second-service-page{

  width: 100%;
  position: relative;
  top: 150px;
  padding: 10px;
}


.search-png-info{

  width: 275px;
  height: 150px;
  /* border: 1px solid black; */
  position: relative;
  top: 130px;
  left: 20px;

  display: flex;
  flex-direction: row;
  display: none;
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.48);
}

.cl-info-cont{
   
   width: 300px;
   height: 300px; 
   /* border: 1px solid black; */
   margin-bottom: 20px;


}


.cl-info-cont{

  width: 280px;
  height: 300px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 70px;
  

}

.cl-info-cont-cont{


  width: 270px;
  height: 300px;
  /* border: 1px solid black; */
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(156, 156, 228);


}



.contact-cont{

  width: 290px;
  height: 560px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 90px;

}


form{
  
  width: 270px;
  height: 500px;

}



@media (min-width: 1024px){


  .main-bg-const{

    width: 100%;
    height: 100vh;
    /* background-color: rgb(87, 87, 209); */
  }
  
  .bg-top-backside-color{
  
    width: 100%;
    height: 50vh;
    background-color: rgb(36, 31, 41);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .box{
  
     width: 300px;
     height: 350px;
     /* border: 1px solid black; */
     margin-left: 20px;
     background-color: white;
     position: relative;
     top: 150px;
     border-radius: 5px;
  
  }

  
.box img{

  padding: 30px;

}
 
  .white-bottom-bg{
  
  
    width: 100%;
    height: 50vh;
    /* background-color: rgb(249, 247, 250); */
  }

  .second-service-page{

    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100px;
    /* background-color: rgb(249, 247, 250); */

  }
  
  
.search-png-info{

  width: 850px;
  height: 220px;
  /* border: 1px solid black; */
  position: relative;
  top: 220px;
  left: 250px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.heading-parag{

  padding: 20px;
 
}

  

.cl-info-cont{
   
  
width: 500px;
height: 500px;
margin-right: 20px;
top: 20px;


}


.cl-info-cont-cont{


  width: 400px;
  height: 480px;
  /* border: 1px solid black; */
  padding: 20px;
  border-radius: 5px;

}



.contact-cont{

  width: 500px;
  height: 500px;

  position: relative;
  bottom: 10px;

}

form{

    
  width: 440px;
  height: 480px;
}



}